{% extends 'base.html.twig' %}

{% block body %}
    <h1>Resourcecategories list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resourceCategory in resourceCategories %}
            <tr>
                <td><a href="{{ path('resourcecategory_show', { 'id': resourceCategory.id }) }}">{{ resourceCategory.id }}</a></td>
                <td>{{ resourceCategory.title }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('resourcecategory_show', { 'id': resourceCategory.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('resourcecategory_edit', { 'id': resourceCategory.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('resourcecategory_new') }}">Create a new resourceCategory</a>
        </li>
    </ul>
{% endblock %}
