{% extends 'base.html.twig' %}

{% block body %}
    <h1>Spendingcategories list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spendingCategory in spendingCategories %}
            <tr>
                <td><a href="{{ path('spendingcategory_show', { 'id': spendingCategory.id }) }}">{{ spendingCategory.id }}</a></td>
                <td>{{ spendingCategory.title }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('spendingcategory_show', { 'id': spendingCategory.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('spendingcategory_edit', { 'id': spendingCategory.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('spendingcategory_new') }}">Create a new spendingCategory</a>
        </li>
    </ul>
{% endblock %}
