{% extends 'base.html.twig' %}

{% block body %}
    <h1>Goal</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ goal.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ goal.title }}</td>
            </tr>
            <tr>
                <th>Deadline</th>
                <td>{% if goal.deadline %}{{ goal.deadline|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ goal.amount }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('goal_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('goal_edit', { 'id': goal.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
